<ion-header>
  <ion-navbar color="hcolor">
    <ion-title>
      Offline Register
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="addData()">
        <ion-icon name="add-circle"></ion-icon>
        New 
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Pending List</h3>

  <ion-list *ngFor="let expense of expenses; let i=index">
    <ion-item  *ngIf="(userId == expense.userId)">

      <ion-thumbnail item-start>
          <img src="{{expense.fileUpload}}">
        </ion-thumbnail>
        <h2>{{expense.findMeId}}</h2>
        <p>{{expense.mobile}}</p>
        <p>{{expense.geolocation}}</p>
        <button ion-button clear item-end (click)="editData(expense.rowid)">Edit</button>
        <button ion-button clear item-end (click)="deleteData(expense.rowid)">X</button>
    </ion-item>
  </ion-list>
  <ion-fab  right middle>
    <button ion-fab color="danger" (click)="addData()">
      add
    </button>
  </ion-fab>

<ion-footer>
  <ion-toolbar>
    <ion-title>Location: {{latitude}} , {{longitude}}</ion-title>
  </ion-toolbar>
</ion-footer>